
@model IndexModel

<h1> Verify your message</h1>

<!-- 
    This is a read only page     
-->

<div class="panel panel-default col-lg-12">
    <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <!-- SEND TO-->
                    <div class="form-group">
                        <label asp-for="Greetings.SendTo"></label>
                        <div>@Html.Raw(Model.Greetings.SendTo)</div>
                    </div>

                    <div class="form-group">

                        <label asp-for="Greetings.SendersEmail"></label>
                        <div>@Html.Raw(Model.Greetings.SendersEmail)</div>
                    </div>
                </div>



                <!--SEND FROM-->
                <div class="col-lg-6 col-md-6">

                    <!--Name-->
                    <div class="form-group">
                        <label asp-for="Greetings.FromName"></label>
                        <div>@Html.Raw(Model.Greetings.FromName)</div> 
                    </div>

                    <!--Email-->
                    <div class="form-group">
                        <label asp-for="Greetings.FromEmail"></label>
                        <div>@Html.Raw(Model.Greetings.FromEmail)</div>
                    </div>
                </div>
            </div>


            <!-- SUBJECT + MESSAGE COMPOSITION-->
            <div class="row">
                <div class="col-lg-12">

                    <div class="form-group">
                        <!-- Subject-->
                        <label asp-for="Greetings.Subject"></label>
                        <div>@Html.Raw(Model.Greetings.Subject)</div>
                    </div>

                    <div class="form-group">
                        <!-- Message-->
                        <label asp-for="Greetings.Message"></label>
                        <div>@Html.Raw(Model.Greetings.Message)</div>
                    </div>

                </div>
            </div>

            <div class="row">
                <!--SEND CARD -->
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-default btn-block">Send</button>
                    </div>
                </div>
            </div>
    </div>
</div>