@model halloween.Models.Greetings
<!--
    This is a read only page
-->

<div class="panel panel-default col-lg-12">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <!-- SEND TO-->
                <div class="form-group">
                    <label asp-for="@Model.ToName"></label>
                    <div>@Html.Raw(Model.ToName)</div>
                </div>

                <div class="form-group">

                    <label asp-for="@Model.ToEmail"></label>
                    <div>@Html.Raw(Model.ToEmail)</div>
                </div>
            </div>

            <!--SEND FROM-->
            <div class="col-lg-6 col-md-6">

                <!--Name-->
                <div class="form-group">
                    <label asp-for="@Model.FromName"></label>
                    <div>@Html.Raw(Model.FromName)</div>
                </div>

                <!--Email-->
                <div class="form-group">
                    <label asp-for="@Model.FromEmail"></label>
                    <div>@Html.Raw(Model.FromEmail)</div>
                </div>
            </div>
        </div>

        <!-- SUBJECT + MESSAGE COMPOSITION-->
        <div class="row">
            <div class="col-lg-12">

                <div class="form-group">
                    <!-- Subject-->
                    <label asp-for="@Model.Subject"></label>
                    <div>@Html.Raw(Model.Subject)</div>
                </div>

                <div class="form-group">
                    <!-- Message-->
                    <label asp-for="@Model.Message"></label>
                    <div>@Html.Raw(Model.Message)</div>
                </div>

            </div>
        </div>
      
    </div>
</div>