@model egreeting.Models.Greetings
<!--
This is a read only page
-->



<div class="to">
    <div class="form-group">
        <label asp-for="@Model.ToName" class="col-2 control-label"></label>
        <div class="col-10">
            @Html.Raw(Model.ToName)
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ToEmail" class="col-2 control-label"></label>
        <div class="col-10">
            @Html.Raw(Model.ToEmail)
        </div>
    </div>
</div>

<!-- SUBJECT + MESSAGE COMPOSITION-->
    <div class="">

        <div class="form-group">
            <!-- Subject-->
            <label asp-for="@Model.Subject" class="col-2 control-label" ></label>
            <div class="content">@Html.Raw(Model.Subject)</div>
        </div>

        <div class="form-group">
            <!-- Message-->
            <label asp-for="@Model.Message" class="col-2 control-label"></label>
            <div class="content">@Html.Raw(Model.Message)</div>
        </div>

    </div>

